* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('../img/oostenrijk.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    overflow: hidden;
}

body {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.123);

    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 90vh;
    height: fit-content;

    color: #FFF;
    text-align: center;
}

.index-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    background-color: #ffffff2f;
    font-size: 100%;
    width: 40%;
    height: 70%;
    padding: 5px;
    border-radius: 5px;
}

.main-page-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    background-color: #ffffff77;
    font-size: 40px;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    border-style: outset;
    border-width: 1px;
    border-color: #ffffff;
    text-decoration: none;
    color: #666666;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    opacity: 0.9;
}

.main-page-button:hover {
    background-color: #ffffff2f;
    box-shadow: 0 0 10px 5px #ffffff2f;
    border-style: inset;
    font-size: 35px;
    border-color: #ffffff49;
    transition: all 0.3s ease-in-out;
}


#text-section {
    text-shadow: 0 -1px 3px #000;
}

#food-display {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 30px;
    border: 2px solid #f0f0f0;
    transition: all 1s ease-in-out;
}

#food-display:hover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    filter: drop-shadow(0 0 1000px #FFF) blur(20px) brightness(1000%) saturate(2000%);
    transition: all 4s ease-in-out;
}

.link {
    color: #FFF;
}

.link:hover {
    color: #c8dde3;
}

.link:visited {
    color: #FFF;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15%;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;

}

.login-form-group input {
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 0.167);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.login-form-group input:focus {
    background-color: #ffffff2f;
    box-shadow: 0 0 10px 5px #ffffff2f;
    border: 1px solid #ffffff49;
    transition: all 0.3s ease-in-out;

    outline: none;
}

.login-form-group input:hover {
    background-color: #ffffff2f;
    transition: all 0.3s ease-in-out;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff77;
    font-size: 20px;
    border: 2px solid #ffffff;
    color: #000000ba;
    text-shadow: 1px 1px 2px #FFF;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #ffffff2f;
    box-shadow: 0 0 10px 5px #ffffff2f;
    border-color: #ffffff49;
    transition: all 0.3s ease-in-out;
}

.form-section {
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 70%;
}

.registratie-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.registratie-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000;
}

.registratie-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff77;
    font-size: 20px;
    border: 2px solid #ffffff;
    color: #00000094;
    text-shadow: 1px 1px 2px #FFF;
    text-decoration: none;
    display: inline-block;
    justify-self: center;
    align-self: center;
    transition: all 0.3s ease-in-out;
}

.registratie-button:hover {
    background-color: #ffffff2f;
    box-shadow: 0 0 10px 5px #ffffff2f;
    border-color: #ffffff49;
    color: #000000b5;
    transition: all 0.3s ease-in-out;
}

.form-input {
    display: grid;
    grid-template-columns: 10fr;
    grid-column-gap: 10px;
}

.form-input input {
    background: rgba(255, 255, 255, 0.167);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.167), rgba(255, 255, 255, 0));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

li a:hover {
    background-color: #ffffff2f;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.right-nav {
    float: right;
}

.main-section {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 100%;
    width: 80%;
}

.account-section {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: center;
}

.test-section {
    width: 100%;
    height: 100%;
    background-color: red;
    border: 2px solid #000;
}

.deletion-btn {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 40px;
    margin: 30px;
    border-radius: 5px;
    background-color: #b9000077;
    font-size: 20px;
    border: 2px solid #ff0000;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ff0000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.deletion-btn:hover {
    background-color: #ff00042f;
    box-shadow: 0 0 10px 5px #ff00002f;
    border-color: #ff000049;
    transition: all 0.3s ease-in-out;
}

.deletion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15%;
    padding: 10%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 5px #0000002f;
    text-shadow: 1px 1px 2px #000;
}

.menu-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 2%;
    height: fit-content;
    min-height: 100%;
}

.account-input {
    border-radius: 5px;
    height: 10px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(205, 201, 245, 0.096);
    width: 20%;
    height: 100%;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.side-nav-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-data-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15%;
    margin-right: 100px;
    padding: 10%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: fit-content;
    
}

.user-data-form input {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000;
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 0.167);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.user-data-form input:focus,
.user-data-form input:hover {
    background-color: #ffffff2f;
    box-shadow: 0 0 10px 5px #ffffff2f;
    border: 1px solid #ffffff49;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.white-hr {
    margin: 10px;
    border: 1px solid #ffffff;
    width: 90%;
}

.menu-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    justify-content: center;
}